# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Data & Uploads (Rahasia / Confidential)
uploads/
*.xlsx
*.xls
*.csv

# Environment & Config
.env
instance/
.pytest_cache/
.vscode/
.idea/

